﻿<!DOCTYPE html>
<html lang="de">
<head>
    <title>PAZAAK ARENA - THE GAME - Login</title>
    <meta charset="UTF-8" />
    <meta name="author" content="Laurin Schnell - Michael Wax" />
    <meta name="description" content="PAZAAK ARENA - THE GAME - Login" />
    <meta name="keywords" content="pazaak, pazaak arena, pazaak game, pazaak card game, pazaak star wars, star wars" />
    <link rel="stylesheet" href="style/style.css" />
</head>
<body>
    <script type="text/x-handlebars">
        {{outlet}}
        {{outlet 'modal'}}
    </script>

    <script type="text/x-handlebars" id="components/modal-dialog">
        <div class="overlay" {{action "close"}}>
        </div>
        <div class="modal">
            {{yield}}
        </div>
    </script>

    <!--LOGIN-->
<script type="text/x-handlebars" data-template-name="login">
    <form class="loginBox" id="loginBox" {{action "login" on="submit"}}>
        <p>
            <img src="img/layout/layerEmail.png" alt="E-Mail" /><br />
            {{input value=name type="text" class="textfieldLogin" id="email"}}
        </p>
        <br /><br />
        <p>
            <img src="img/layout/layerPassword.png" alt="Password" /><br />
            {{input value=password type="password" id="password" class="textfieldLogin"}}

        </p>
        <p>
            {{input type="submit" class="button" id="loginButton" }}
            <button {{action 'guestlogin'}} type="button" class="button" id="loginAsGuestButton" />
        </p>
        <!--<a href="">Forgot your password?</a>-->
        {{#link-to 'register'}}
        {{input type="button" value="Registrieren"}}
        {{/link-to}}
    </form>
    </script>

    <!--REGISTER-->
    <script type="text/x-handlebars" data-template-name="register">
        <form class="loginBox" id="loginBox" {{action "register" on="submit"}}>
            <p>
                <img src="img/layout/layerEmail.png" alt="E-Mail" /><br />
                {{input value=name type="text" class="textfieldLogin" id="email"}}
            </p>
            <br /><br />
            <p>
                <img src="img/layout/layerPassword.png" alt="Password" /><br />
                {{input value=password type="password" id="password" class="textfieldLogin"}}

            </p>
            <p>
                {{input type="submit" class="button" id="registerButton" value="Registrieren"}}
            </p>
        </form>
    </script>

    <!--LOBBY-->
    <script type="text/x-handlebars" data-template-name="lobby">
        <div class="lobbyBox">
            <h1>Welcome to Cantina {{username}}</h1>
            <div class="gameNameBox">
                <h2>GAMENAME</h2>
                {{outlet "matches"}}
            </div>
            <div class="playerNameBox">
                <h2>PLAYERNAME</h2>
                {{outlet "players"}}

            </div>
            <button class="lobbyButton" {{action 'openModal' 'createMatch'}}>CREATE GAME</button>
            <button class="lobbyButton">{{#link-to 'sideDeck'}}DECK EDITOR{{/link-to}}</button>
            <!--<button class="lobbyButton">LOGOUT</button>-->
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="createMatch">
        {{#modal-dialog action="closeModal"}}
        <h3 class="flush--top">Create Match</h3>
        <p>Enter the match name:</p>
        <p>{{input value=name}}</p>
        <button {{action 'createMatch'}}>Create</button>
        {{/modal-dialog}}
    </script>

    <script type="text/x-handlebars" data-template-name="match/message">
        {{#modal-dialog action="closeModal"}}
        <h2>{{message}}</h2>
        <p>{{player.user.name}}</p>
        {{/modal-dialog}}
    </script>

    <script type="text/x-handlebars" data-template-name="match/setEnded">
        {{#modal-dialog action="closeModal"}}
        {{#if lastSetArgs.winner}}
        <h1>{{lastSetArgs.winner.name}} WINS</h1>
        {{/if}}
        <h2>{{lastSetArgs.reason}}</h2>
        <div>
            <p>
                <h3>{{lastSetArgs.set.opponent.name}} TOTAL: {{lastSetArgs.set.opponent.total}}</h3>
            </p>
            <div class="playerPlayedCards">
                {{#each lastSetArgs.set.opponent.openCards as |card|}}
                <div class="card card-{{card.name}}" id="player2PlayedCard1"></div>
                {{/each}}
            </div>
            <p>
                <h3>{{lastSetArgs.set.player.name}} TOTAL: {{lastSetArgs.set.player.total}}</h3>
            </p>
            <div class="playerPlayedCards">
                {{#each lastSetArgs.set.player.openCards as |card|}}
                <div class="card card-{{card.name}}" id="player2PlayedCard1"></div>
                {{/each}}
            </div>
        </div>

        {{/modal-dialog}}
    </script>

    <!-- MATCHES-->
    <script type="text/x-handlebars" data-template-name="matches">
        <ul id="matches">
            {{#each matches as |match|}}
            <li class="gameNameLink">
                <a href="" {{action "join" match}}>
                    <label>{{match.name}}</label>
                </a>
            </li>
            {{/each}}
        </ul>
    </script>

    <!--PLAYERS-->
    <script type="text/x-handlebars" data-template-name="players">
        <ul id="players">
            {{#each onlinePlayers as |player|}}
            <li class="playerName">
                <span class="playerName" id="playerName1">{{player.name}}</span><br />
            </li>
            {{/each}}
        </ul>
    </script>

    <!--SIDE DECK EDITOR-->
    <script type="text/x-handlebars" data-template-name="sideDeck">
        <div class="deckeditorBox">
            <!--<button class="deckeditorButton" id="buttonMyCollection">My Collection</button>
            <button class="deckeditorButton" id="buttonUnlockableCards">Unlockable Cards</button>-->
            <div class="selectedCardsBox">
                <span class="deckname">DECKNAME</span>
                <div style="margin-bottom:24em">
                    {{#each selectedSideDeck.cards key="@index" as |card index|}}
                    <card class="card card-{{card.name}}" {{action 'remove' index}}></card>
                    {{/each}}
                </div>
                <button class="deckeditorButton" {{action 'save'}} id="save">SAVE</button><br />
                {{#if unsaved}}
                <h4>NICHT GESPEICHERT</h4>
                {{/if}}
            </div>
            <div class="cardOverviewBox">
                {{#each availableCards as |card|}}
                <div class="card card-{{card.name}}" {{action 'add' card}}></div>
                {{/each}}
            </div>
            <!--<span class="filter">FILTER</span>
            <div class="filterBox">
                <button class="filterCards" id="allCardsFilter">All Cards</button>
                <button class="filterCards" id="plusCardsFilter">+ Cards</button>
                <button class="filterCards" id="minusCardsFilter">- Cards</button>
                <button class="filterCards" id="plusMinusCardsFilter">+- Cards</button>
                <button class="filterCards" id="goldenCardsFilter">Golden Cards</button>
            </div>-->
        </div>
    </script>


    <!--MATCH-->
    <script type="text/x-handlebars" data-template-name="match">
        <!--<audio id="player" src="sounds/menu_music.mp3" autoplay loop></audio>-->
        <div>
            <button onclick="document.getElementById('player').play()">Play</button>
            <button onclick="document.getElementById('player').pause()">Pause</button>
            <button onclick="document.getElementById('player').volume+=0.1">Volume Up</button>
            <button onclick="document.getElementById('player').volume-=0.1">Volume Down</button>
        </div>
        <div class="inGameBox">
            <div class="playerInformationsBox">
                <div class="playerInformations" id="player2Informations">
                    <span class="playerName" id="player2Name">{{opponent.user.name}}</span>
                    <br /><br />
                    <div class="playerCharacter" id="player2Character"><img src="img/characters/chewbaccaDog.png" width="100%" /></div>
                    <span class="currentPoints" id="player2CurrentPoints">{{opponent.total}}</span>
                    {{#if opponent.isHolding }}
                    <h2>HOLDING</h2>
                    {{/if}}
                </div>
                <div class="playerInformations" id="player1Informations">
                    <span class="currentPoints" id="player1CurrentPoints">{{player.total}}</span>
                    {{#if player.isHolding }}
                    <h2>HOLDING</h2>
                    {{/if}}
                    <div class="playerCharacter" id="player1Character"><img src="img/characters/stormtrooper.png" width="100%" /></div>
                    <span class="playerName" id="player1Name">{{player.user.name}}</span>
                </div>
            </div>
            <div {{bind-attr class=":player2HandCardsBox opponent.turn::disabled"}}>
                {{#each opponent.handDeck key="@index" as |card|}}
                <div {{ action 'playHandCard' card}} class="card hiddenCard"></div>
                {{/each}}
            </div>
            <div class="gameSetBox">
                <div class="playerSets" id="player2CurrentSets">
                    {{#each opponent.setsWon key="@index" as |set|}}
                    <div class="set won-set"></div>
                    {{/each}}
                </div>
                <div class="playerSets" id="player1CurrentSets">
                    {{#each player.setsWon key="@index" as |set| }}
                    <div class="set won-set"></div>
                    {{/each}}
                </div>
            </div>
            <div class="playedCardsBox">
                <div class="playerPlayedCards">
                    {{#each opponent.openCards as |card|}}
                    <div class="card card-{{card.name}}" id="player2PlayedCard1"></div>
                    {{/each}}
                </div>
                <div class="playerPlayedCards">
                    {{#each player.openCards as |card|}}
                    <div class="card card-{{card.name}}" id="player2PlayedCard1"></div>
                    {{/each}}
                </div>
            </div>
            <div class="gameAction">
                <br />
                <h4>Zug: {{turn}}</h4>
                <input type="button" name="end_turn" {{action 'nextTurn'}} value="End Turn" /><br />
                <input type="button" name="hold" value="Hold" {{action 'hold'}} /><br />
                <input type="button" name="give_up" value="Give Up" {{action 'giveUp'}} />
            </div>
            <div {{bind-attr class=":player1HandCardsBox player.turn::disabled"}}>
                {{#each player.handDeck as |card|}}
                <div {{ action 'playHandCard' card}} class="card card-{{card.name}}"></div>
                {{/each}}
            </div>
        </div>
    </script>

    <img src="img/layout/pazaakArenaHeader.png" class="pazaakArenaHeader" alt="PAZAAK ARENA - THE GAME" />


    <script src="js/libs/socket.io-client/socket.io.js"></script>
    <script src="js/libs/jquery/dist/jquery.js"></script>
    <script src="js/libs/handlebars/handlebars.js"></script>
    <script src="js/libs/ember/ember.debug.js"></script>
    <script src="js/libs/ember/ember-template-compiler.js"></script>
    <script src="js/libs/ember-data/ember-data.js"></script>
    <script src="js/libs/ember-sockets/package/EmberSockets.js"></script>

    <script src="js/application.js"></script>
    <script src="js/components/modalComponent.js"></script>
    <script src="js/router.js"></script>
    <script src="js/models/models.js"></script>
    <script src="js/controllers/loginController.js"></script>
    <script src="js/controllers/lobbyController.js"></script>
    <script src="js/controllers/matchesController.js"></script>
    <script src="js/controllers/playersController.js"></script>
    <script src="js/services/tableDeckService.js"></script>
    <script src="js/services/sideDeckService.js"></script>
    <script src="js/controllers/matchController.js"></script>
    <script src="js/controllers/createMatchController.js"></script>
    <script src="js/controllers/sideDeckController.js"></script>
    <script src="js/controllers/appController.js"></script>
    <script src="js/controllers/registerController.js"></script>
</body>
</html>